.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.5),
    rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1498050108023-c5249f4df085");
    background-size:cover;
}

.btn{
    padding:12px 25px;
    background:#ff9800;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:.3s;
}

.btn:hover{
    background:#ff5722;
    transform:scale(1.1);
}